[PARSER]
    Name    honey_school_signaling
    Format  regex
    Regex   ^msec=(?<event_time>[0-9.]+) status=(?<status>[0-9]+) duration=(?<duration>[0-9.]+) upstream_status=(?<upstream_status>[-0-9, :]+) upstream_duration=(?<upstream_duration>[-0-9., :]+)$

