[Unit]
Description=Honey School dev TURN egress isolation
Before=honey-school-dev-turn.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/local/sbin/honey-school-apply-dev-turn-firewall
ExecReload=/usr/local/sbin/honey-school-apply-dev-turn-firewall
ExecStop=/usr/sbin/nft delete table inet honey_school_dev_turn

[Install]
WantedBy=multi-user.target
