#!/bin/sh
set -eu

network_name="${1:-}"
operation="${2:-}"

[ "$network_name" = "playsay-workloads" ] || exit 0

apply_rule() {
  if ! iptables -C LIBVIRT_FWI "$@" -j ACCEPT 2>/dev/null; then
    iptables -I LIBVIRT_FWI 1 "$@" -j ACCEPT
  fi
}

remove_rule() {
  while iptables -C LIBVIRT_FWI "$@" -j ACCEPT 2>/dev/null; do
    iptables -D LIBVIRT_FWI "$@" -j ACCEPT
  done
}

case "$operation" in
  started|reconnect)
{% for port in ax41_prod_livekit_tcp_ports %}
    apply_rule -i {{ ax41_public_interface }} -o virbr60 -p tcp -d {{ ax41_prod_vm_address }} --dport {{ port }}
{% endfor %}
{% for port in ax41_prod_livekit_udp_ports %}
    apply_rule -i {{ ax41_public_interface }} -o virbr60 -p udp -d {{ ax41_prod_vm_address }} --dport {{ port }}
{% endfor %}
    ;;
  stopped)
{% for port in ax41_prod_livekit_tcp_ports %}
    remove_rule -i {{ ax41_public_interface }} -o virbr60 -p tcp -d {{ ax41_prod_vm_address }} --dport {{ port }}
{% endfor %}
{% for port in ax41_prod_livekit_udp_ports %}
    remove_rule -i {{ ax41_public_interface }} -o virbr60 -p udp -d {{ ax41_prod_vm_address }} --dport {{ port }}
{% endfor %}
    ;;
esac
